@page "/consultExams"


@inject IJSRuntime jsRuntime
@inject ApiService api


<h3>Consulta de Exames</h3>

<table id="ConsultExamsTable">

    <thead>
        <tr>
            <th>Id Processo</th>
            <th>Data Criação</th>
            <th>Nome</th>
            <th>Quantidade de Exames</th>
            <th>+Info</th>
        </tr>
    </thead> 
    <tbody>
        @if (processes.Count != 0)
        {
            @foreach (var process in processes)
            {
                <tr>
                    <td>@process.Id</td>
                    <td>@process.ProcessDate.ToShortDateString()</td>
                    <td>@process.Person.Name</td>
                    <td>@process.Exams.Count</td>
                    <td><DetailsIcon Popup="detailsPopup" SelectedProcess="process" Show="ShowDetails"></DetailsIcon></td>
                </tr>
            }
        }
        else
        {
            <tr><td colspan="2" style="text-align:center">No data to show</td></tr>
        }
    </tbody>
</table>


                            <!-- Linhas necessárias para todos os exames -->


<!-- Popup with more details -->
<DetailsPopup @ref="detailsPopup"></DetailsPopup>


@code {
    List<Process> processes = new List<Process>();
    public DetailsPopup detailsPopup;


    protected override async Task OnInitializedAsync()
    {
        processes = await api.GetProcessesAsync();
    }

    private void ShowDetails(Process process)
    {
        detailsPopup.Title = $"Mais Detalhes do Processo {process.Id.ToString()} ({process.ProcessDate.ToShortDateString()})";

        string body = $@"
        <table>
            <thead>
                <tr>
                    <th>Info Pessoal</th>
                    <th>Exams</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <!-- Tabela Esquerda -->
                        <table>
                            <tbody>
                                <tr>
                                    <td>
                                        Nome: {process.Person.Name}
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        Nº Utente: {process.Person.NumUtente}
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        Data Nascimento: {process.Person.BirthDate.ToShortDateString()}
                                    </td>
                                </tr>
                            </tbody>
                        </table>

                    </td>
                    <td>
                        <!-- Tabela Direita -->
                        <table>
                            <tbody>
        ";

        foreach(Exam e in process.Exams)
        {
            
            body += $"<tr><td> {e.Id} : {e.Name} </td></tr>";
        }

        body += $@"
                            </tbody>
                        </table>
                    </td>
                </tr>
            </tbody>
        </table>
        ";

        detailsPopup.BodyContent = body;
        detailsPopup.Show();
    }

}
