body {
}

#ConsultExamsTable {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid black;
    border-radius: 10px;
    border-collapse: separate;
    padding: 3px 10px 3px 10px;
    table-layout: auto;
}

a, a label {
    cursor: pointer;
}