@page "/scheduleExams"

<h3>Marcação de Exames</h3>

<form>
    <!-- Personal Information -->
    <label for="numUtente">Número de Utente:</label><br />
    <input type="text" id="numUtente" name="numUtente" /><br /><br />

    <label for="nome">Nome</label><br />
    <input type="text" id="nome" name="nome" /><br /><br />

    <label for="birthDate">Data de Nascimento</label><br />
    <input type="date" /><br /><br />

    
    <!-- Exams -->
    <input type="checkbox" id="exam1" name="exam1" value="exam1" /><label for="exam1">Exam 1</label><br />
    <input type="checkbox" id="exam2" name="exam2" value="exam2" /><label for="exam2">Exam 2</label><br />
    <input type="checkbox" id="exam3" name="exam3" value="exam3" /><label for="exam3">Exam 3</label><br />
    <input type="checkbox" id="exam4" name="exam4" value="exam4" /><label for="exam4">Exam 4</label><br />


    <button>Marcar exames</button>
</form>


@code {

}
