@page "/scheduleExams"

@inject IJSRuntime jsRuntime
@inject ApiService api
@inject NavigationManager NavManager
@inject IDialogService DialogService


<h3>Marcação de Exames</h3>
<br />
<br />

<EditForm Model="@tempProcess" OnValidSubmit="ValidFormSubmitted" OnInvalidSubmit="InvalidFormSubmitted">
    <ObjectGraphDataAnnotationsValidator />

    <table id="ScheduleExamsTable">
        <tbody>
            <!-- Personal Information -->
            <tr>
                <td style="width:35%">
                    <div class="form-group">
                        <MudNumericField 
                            Label="Número de Utente" 
                            @bind-Value=tempProcess.Person.NumUtente 
                            For="@(() => tempProcess.Person.NumUtente)" 
                            OnlyValidateIfDirty="true">
                        </MudNumericField>
                    </div>
                </td>
                <td style="width:35%">
                    <div class="form-group">
                        <MudTextField 
                            Label="Nome" 
                            @bind-Value=tempProcess.Person.Name 
                            For="@(() => tempProcess.Person.Name)" 
                            OnlyValidateIfDirty="true">
                        </MudTextField>
                    </div>
                </td>
                <td>
                    <div class="form-group">
                        
                        <MudDatePicker 
                            Label="Data de Nascimento" 
                            @bind-Date="selectedDate">
                        </MudDatePicker>
                    </div>
                </td>
            </tr>
            <!-- Exams -->
            <tr>
                <td colspan="3">
                    <MudGrid Justify="Justify.FlexStart">
                        @for(int i = 0; i < AvailableExams.Count; i++)
                        {
                            Exam e = AvailableExams[i];
                            <MudItem>
                                <MudPaper Outlined="true" Class="px-3 justify-start">
                                    <MudCheckBox Label="@e.Name" CheckedChanged="((bool state) => checkExam(state, e))"></MudCheckBox>
                                </MudPaper>
                            </MudItem>
                        }
                    </MudGrid>
                    @if (!examsValid)
                    {
                        <br />
                        <MudAlert Severity="Severity.Error" Variant="Variant.Outlined">Selecione pelo menos um exame</MudAlert>
                    }
                </td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <td colspan ="3">
                    <MudButton ButtonType="ButtonType.Submit" Variant="Variant.Filled" Style="background-color:#cd0016">Marcar exames</MudButton>
                </td>
            </tr>
        </tfoot>
    </table>
</EditForm>

<!-- Popup with more details of confirmation -->
<DetailsPopup @ref="confirmationPopup"></DetailsPopup>


@code {
    Process tempProcess = new Process
        {
            Person = new Person(),
            Exams = new List<Exam>()
        };

    public List<Exam> AvailableExams = new List<Exam>();
    public DetailsPopup? confirmationPopup;
    public DateTime? selectedDate = DateTime.Now;

    public bool examsValid = true;

    protected override async Task OnInitializedAsync()
    {
        AvailableExams = await api.GetAllAvailableExams();
    }

    public void checkExam(bool state, Exam e)
    {
        if (state)
        {
            tempProcess.Exams.Add(e);
        }
        else
        {
            tempProcess.Exams.Remove(e);
        }

        if (tempProcess.Exams.Count <= 0)
        {
            examsValid = false;
        }
        else
        {
            examsValid = true;
        }

        StateHasChanged();
    }

    public async void ValidFormSubmitted()
    {
        tempProcess.ProcessDate = DateTime.Now;
        tempProcess.Person.BirthDate = (DateTime)selectedDate;

        Process newProcess = await api.PostProcessAsync(tempProcess);

        // Open Dialog
        var options = new DialogOptions { CloseOnEscapeKey = true };

        var parameters = new DialogParameters();
        parameters.Add("SelectedProcess", newProcess);

        string title = $"Adicionado o Processo nº:{newProcess.Id.ToString()} ({newProcess.ProcessDate.ToShortDateString()})";

        DialogService.Show<DetailsPopup>(title, parameters, options);

        // Reset form information
        tempProcess = new Process
        {
            Person = new Person(),
            Exams = new List<Exam>()
        };
        StateHasChanged();

    }

    public void InvalidFormSubmitted()
    {
        if (tempProcess.Exams.Count <= 0)
        {
            examsValid = false;
        }
        else
        {
            examsValid = true;
        }

        StateHasChanged();
    }
}
