body[b-muwr2nm098] {
}

table[b-muwr2nm098], th[b-muwr2nm098], td[b-muwr2nm098] {
    border: 1px solid black;
    border-collapse: collapse;
}

#ConsultExamsTable[b-muwr2nm098] {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    
}
