body[b-pif763rdsc] {
}

table[b-pif763rdsc], th[b-pif763rdsc], td[b-pif763rdsc] {
    text-align: center;
    border-collapse: collapse;
}

tfoot[b-pif763rdsc]{
    text-align:center
}

td[b-pif763rdsc] {
    border: 1px solid black;
    padding: 1%
}

#ScheduleExamsTable[b-pif763rdsc] {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid black;
}