<a @onclick="@(() => Show.InvokeAsync(SelectedProcess))">
    <span class="oi oi-clipboard" aria-hidden="true"></span>
</a>


@code{

    [Parameter]
    public DetailsPopup Popup{ get; set; }

    [Parameter]
    public Process SelectedProcess { get; set; }

    [Parameter]
    public EventCallback<Process> Show{ get; set; }

}
